<div class="n-container">
  <div class="bg">
    <img style="padding-top:3.5rem;width:100%;height:20%" src="assets/img/home-cluj.webp">
    <div class=text-container>{{'About.header' | translate}}</div>
    <div class="about-section">
      <h1>{{'About.header' | translate}}</h1>
      <p>{{'About.abt' | translate}}</p>
      <p>{{'About.s-abt' | translate}}</p>
    </div>

    <h2 style="text-align:center">{{'About.team' | translate}}</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card" style="width: 25rem;">
          <br>
          <img class="card-img-top" style="width:16rem; height:16rem;border-radius: 50%; margin: auto"
               src="assets/img/mazi.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Mazilescu Andru</h5>
            <p class="title">Economic Broker</p>
            <p class="card-text">Nici nu mai contează banii
              <br/> iplayro@hotmail.com
            </p>
            <a href="#" class="btn btn-primary">Contact</a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card" style="width: 25rem;">
          <br>
          <img class="card-img-top" style="width:16rem; height:16rem;border-radius: 50%; margin: auto"
               src="assets/img/norbi.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Giuhas Ibron Benjamin</h5>
            <p class="title">Art Director</p>
            <p class="card-text">Zeul CSS-ului
              <br/> giuhas.ybron@hotmail.com
            </p>
            <a href="#" class="btn btn-primary">Contact</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" style="width: 25rem;">
          <br>
          <img class="card-img-top" style="width:16rem; height:16rem;border-radius: 50%; margin: auto"
               src="assets/img/chis.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Kiss Danel</h5>
            <p class="title">Developer</p>
            <p class="card-text">Maestrul Reactului
              <br/> kiss@hotmail.com
            </p>
            <a href="#" class="btn btn-primary">Contact</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="card" style="width: 25rem;">
          <br>
          <img class="card-img-top" style="width:16rem; height:16rem;border-radius: 50%; margin: auto"
               src="assets/img/rusu.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Ursu George</h5>
            <p class="title">CEO & Founder</p>
            <p class="card-text">Șef pe imobiliare
              <br/> averagesoul@hotmail.com
            </p>
            <a href="#" class="btn btn-primary">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
