<div class="bg">
  <img style="padding-top:3.5rem;width:100%; height:10%" src="assets/img/home.jpeg">
  <div class="header-container">
    {{'Home.header' | translate}} <br>
    {{'Home.s-header' | translate}}
    <br/>
    <a routerLink="about-us">
      <button class="btn btn-primary">{{'Home.about-btn' | translate}}</button>
    </a>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <div class="img-box">
          <img class="img-content" src="assets/img/house.jpg">
          <div class="text-container">{{'Home.most-viewed' | translate}}</div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <div class="img-box">
          <img class="img-content" src="assets/img/new_house.jpg">
          <div class="text-container">{{'Home.new' | translate}}</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="img-box">
          <img class="img-content" src="assets/img/invest.jpg">
          <div class="text-container">{{'Home.opportunities' | translate}}</div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <div class="img-box">
          <img class="img-content" src="assets/img/lux_house.jpg">
          <div class="text-container">{{'Home.special' | translate}}</div>
        </div>
      </div>
    </div>
  </div>
</div>
<p>home works!</p>
